<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.dao.AnimeInfoMapper">
    <resultMap id="anime" type="com.itheima.pojo.AnimeInfo">
        <result column="release_time" property="releaseTime"></result>
    </resultMap>
<!--    <select id="selectAll" resultMap="anime">-->
<!--        select * from anime_info-->
<!--    </select>-->
</mapper>